# 环境配置(生产环境需要修改为 production)
SPRING_PROFILES_ACTIVE=

# 图床配置
COS_CLIENT_HOST=
COS_CLIENT_SECRET_ID=
COS_CLIENT_SECRET_KEY=
COS_CLIENT_REGION=
COS_CLIENT_BUCKET=

# 智能配置
ALY_AI_API_KEY=

# 认证配置
WORK_MYSQL_PASSWD=
WORK_TIDB_PASSWD=
WORK_REDIS_PASSWD=
WORK_SENTINEL_PASSWD=
WORK_ELASTIC_PASSWD=
WORK_KIBANA_PASSWD=

# 代理配置
## work-collaborative-images 使用 :80 或 wci.edtechhub.com.cn
WCI_SITE_ADDRESS=
## work-topic-selection 使用 :80 或 wts.edtechhub.com.cn
WTS_SITE_ADDRESS=
