**.idea/
**.next/
**node_modules/
**target/
**dist/
**.env
**access.log
work-basic-component/work-mysql/
work-basic-component/work-redis/
work-basic-component/work-ollama/
work-basic-component/work-etcd/
work-basic-component/work-alist/
