# 实时更新配置建议使用 sudo docker compose down work-caddy && sudo docker compose up -d --build work-caddy

# {$WCI_SITE_ADDRESS} { # 部署域名(生产环境替换)
#     # 域名证书(生产环境打开)
#     # tls /etc/caddy/ssl/edtechhub.com.cn/xxx.crt /etc/caddy/ssl/edtechhub.com.cn/xxx.key
#
#     # 日志服务
#     log {
#         level DEBUG
#         output file ./log/access.log
#         format json
#     }
#
#     # 前端服务
#     reverse_proxy http://work-collaborative-images-client:3000
#
#     # 接口服务
#     handle_path /work_collaborative_images_api/* {
#         reverse_proxy http://work-collaborative-images:8000
#     }
# }

{$WTS_SITE_ADDRESS} { # 部署域名(生产环境替换)
    # 域名证书(生产环境打开)
    # tls /etc/caddy/ssl/edtechhub.com.cn/xxx.crt /etc/caddy/ssl/edtechhub.com.cn/xxx.key

    # 日志服务
    log {
        level DEBUG
        output file ./log/access.log
        format json
    }

    # 前端服务
    reverse_proxy http://work-topic-selection-client:3000

    # 接口服务
    handle_path /work_topic_selection_api/* {
        reverse_proxy http://work-topic-selection:8000
    }
}